.chart-selector {
  display: flex;
  width: 100%;
  color: #aeadad;
  gap: 16px;
}

.chart-selector-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 40px;
  padding: 16px;
}

.chart-selector-option--active {
  color: #e03737;
  border-bottom: 1px solid #e03737;
}
