.chart-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.chart-overview {
  position: relative;
  display: flex;
  width: 100%;
}

.chart {
  position: relative;
  width: 100%;
  padding: 10px;
}

.chart-latest-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
  width: fit-content;
  justify-content: center;
  align-items: start;
  top: 80px;
  left: 60px;
  gap: 10px;
}

.chart-ticker-details {
  display: flex;
  font-weight: bold;
  column-gap: 5px;
  line-height: 20px;
}

.chart-price-details {
  display: flex;
  font-weight: bold;
  column-gap: 12px;
}
