.trading-chart {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  margin-top: 50px;
  font-size: 14px;
  padding: 10px;
}

.chart-container {
  position: relative;
  width: 80%;
}

.chart-latest-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
  width: fit-content;
  justify-content: center;
  align-items: start;
  top: 20px;
  left: 20px;
}

.chart-ticker-details {
  display: flex;
  font-weight: bold;
  column-gap: 5px;
  line-height: 20px;
}

.chart-price-details {
  display: flex;
  font-weight: bold;
  column-gap: 12px;
}
